@use "variables" as *;
@use "base/reset";

body {
    background-color: $backgroundaccet;
    color: $text;
}
#err {
    background-color: $backgroundaccet;
}

header {
    background-color: $header;
    padding: 10px;
    border-radius: 10px;
} #hdrImg {
    width: 5%;
}

#light {
    background-color: $background;
    border-radius: 10px;
}

button {
    background-image: linear-gradient(to bottom, rgb(71, 71, 71), black);
    color: $text;
    border-radius: 10px;
    border-color: rgb(24, 24, 24);
    border-width: 5px;
}
.major, #back {
    min-width: 20%;
    min-height: 10px;
    padding: 10px;
    margin-top: 40px;
    margin-left: 20px;
} .major {
    padding: 20px;
    margin-top: 10px;
}