<%- include('partials/header') %>

<section id="light">

    <button class="major">Weapons</button><br>

    <button class="major">Enemies</button><br>

    <button class="major">The Cyber Grind</button><br>

    <button class="major">Sandbox</button><br>

    <button id="back">Back</button>


    <div>
        <p>
            it doesnt work but atleast it looks pretty
        </p>
    </div>

</section>

<%- include('partials/footer') %>